$light-blue : #e8f0fd;
$light-gray : #ececec;
$primary : #4a77a6;
$dark-blue : #1b4b7d;
$accent : #ff9966;
$danger : #e54545;
$dark : #333;
$text-color : #616161;
$light : #f8f8f8;
$white: #ffffff;
$radius: 3px;
